.bg-anuncio {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slider-marca{
  text-align: center;
  font-size: 100px;
}

.slider-photo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-whomakes{
  padding: 10%;
  object-fit: cover;
}